<form method="post" action ="/login/check">

    <input type="text" value="" name="username" placeholder="username"/>
    <input type="password" value="" name="password" placeholder="password"/>
    <input type="checkbox" value="remember" name="remember-me" id="remember"/>
    <label for="remember">remember me</label>
    <input type="submit" name="login" value="login"/>

</form>
